@import "base";

html,
body{
	background-color: $background-color;
}

hr{
	$size: 50px;
	display: block;
	width: $size;
	height: $size;
	margin: 40px auto;
	background-image: url('/img/mobius.png');
	background-color: #ededed;
	@include background-size(contain);
	border: none;
	border-radius: 50%;
}

p{
	margin-bottom: 18px;
	font-family: 'Museo 300';
}
p a{
	color: $stress-color;
}

.container{
	max-width: 600px;
	margin: auto;
	padding-top: 10px;
	
	@include width-matches($mobile){
		padding-left: 20px;
		padding-right: 20px;
	}
}

//default
.main .cloak{
	color: $cloak-color;
}
.main .stress{
	color: $stress-color;
	font-weight: normal;
}
.main .title{
	@extend .gamma;
	color: $stress-color;
	margin-top: 20px;
	margin-bottom: 45px;
}
.main .subtitle{
	@extend .delta;
	color: $stress-color;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 30px;
}

//homepage stuff
.main .home-headline{
	@extend .alpha;
	margin: 30px auto 13px;
	font-family: "Museo Sans 100";
	@include hyphens(none);
}
.main .home-subheadline{
	@extend .delta;
	color: $font-color;
}
.main .linklist{
	list-style: none;
}
.main .linklist a{
	@extend %highlight-link;
	display: block;
	margin-bottom: 16px;
	padding: 10px 16px;
	
	&:before{
		margin-right: 6px;
	}
}

//blog pagination
.pagination{
	@extend .clearfix;
	text-align: center;
	margin-bottom: 40px;
}
.pagination .page-counter{
	display: inline-block;
	font-family: $heading-font;
	padding: 10px 0;
	color: $cloak-color;
}
.pagination a{
	display: inline-block;
	@extend %highlight-link;
	padding: 6px 16px;
}
.pagination .previous{
	float: left;
	
	&:before{
		margin-right: 4px;
		content: "\2190";
	}
}
.pagination .next{
	float: right;
	
	&:after{
		margin-left: 4px;
		content: "\2192";
	}
}

//post list
.post-list{
	list-style: none;
}
.post{
	margin: 20px 0 50px;
	padding: 25px 20px;
	background: darken($background-color, 5);
}
.post .post-title{
	@extend .delta;
	margin-bottom: 0;
}
.post .post-title-link{
	color: $font-color;
	text-decoration: none;
}
.post .post-date{
	font-size: .9rem;
	display: block;
	color: $cloak-color;
}
.post .post-description{
	margin-top: 12px;
}
.post .post-link{
	color: $stress-color;
	text-decoration: none;
	border-bottom: 1px solid $stress-color;
}