@import "base";

html,
body{
	background-color: $background-color;
}

hr{
	$size: 50px;
	display: block;
	margin: 40px auto;
	border: none;
	height: $size;
	
	@extend .icon-mobius;
	
	&:before{
		display: block;
		width: $size;
		height: $size;
		margin: auto;
		padding-top: 5px;
		background-color: #ededed;
		font-size: 1.7rem;
		text-align: center;
		color: black;
		border-radius: 50%;
	}
}

p,
ul,
ol{
	margin-bottom: 18px;
	font-family: $body-copy-font;
}
p a,
ol a,
ul a,
figcaption a{
	color: $stress-color;
}

.container{
	max-width: 600px;
	margin: auto;
	padding-top: 10px;
	
	@include width-matches($mobile){
		padding-left: 20px;
		padding-right: 20px;
	}
}

//61.77%, 38.22%

//default
.main .cloak{
	color: $cloak-color;
}
.main .stress{
	color: $stress-color;
	font-weight: normal;
}
.main .title{
	@extend .gamma;
	color: $stress-color;
	margin-top: 20px;
	margin-bottom: 45px;
}
.main .subtitle{
	@extend .delta;
	color: $stress-color;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 30px;
}

//homepage stuff
.main .home-headline{
	@extend .beta;
	margin: 30px auto 13px;
	font-family: $heading-font;
	font-weight: 100;
	@include hyphens(none);
	
	@include width-matches($mobile){
		font-size: 3rem;
	}
}
.main .home-subheadline{
	@extend .delta;
	color: $font-color;
	
	@include width-matches($mobile){
		font-size: 1.5rem;
	}
}
.main .linklist{
	list-style: none;
}
.main .linklist a{
	@extend %highlight-link;
	display: block;
	margin-bottom: 16px;
	padding: 10px 16px;
	
	&:before{
		margin-right: 6px;
	}
}

//work page stuff
.main ol.works{
	list-style: none;
}
.main ol.works a{
	display: block;
	color: $font-color;
	text-decoration: none;
	padding: 4px 2px;
	
	&:hover,
	&:focus{
		color: $stress-color;
		background: darken($background-color, 5);
		outline: none;
	}
	
	@include width-matches($mobile){
		margin: 20px 0;
		line-height: 1.2;
		padding: 8px;
	}
}
.main ol.works .date{
	display: inline-block;
	min-width: 130px;
	margin-right: 10px;
	text-align: right;
	color: $cloak-color;
	font-size: .8rem;
	
	@include width-matches($mobile){
		display: inline;
		margin-right: 0;
	}
}

//back to home link
.top-link{
	float: right;
	margin-left: 25px;
	color: $font-color;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $heading-font;
	font-weight: 100;
	font-size: .7rem;
	@include transition(color .4s ease);
	
	&:hover{
		color: $stress-color;
	}
}
.top-link .home-link-icon,
.top-link .blog-link-icon,
.top-link .work-link-icon{
	display: inline-block;
	font-size: 1.3rem;
	@include transition(transform 1s ease);
}
.top-link:hover .home-link-icon{
	@include rotate(-180deg);
}

//blog pagination
.pagination{
	@extend .clearfix;
	text-align: center;
	margin-bottom: 40px;
}
.pagination .page-counter{
	display: inline-block;
	font-family: $heading-font;
	padding: 10px 0;
	color: $cloak-color;
}
.pagination a{
	display: inline-block;
	@extend %highlight-link;
	padding: 6px 16px;
}
.pagination .previous{
	float: left;
	
	&:before{
		margin-right: 4px;
		content: "\2190";
	}
}
.pagination .next{
	float: right;
	
	&:after{
		margin-left: 4px;
		content: "\2192";
	}
}

//post list
.post-list{
	list-style: none;
}
.post-list .post{
	margin: 20px 0 50px;
	padding: 25px 20px;
	background: darken($background-color, 5);
}
.post-list .post-title{
	@extend .delta;
	margin-bottom: 0;
}
.post-list .post-title-link{
	color: $font-color;
	text-decoration: none;
}
.post-list .post-date{
	font-size: .9rem;
	display: block;
	color: $cloak-color;
}
.post-list .post-description{
	margin-top: 12px;
}
.post-list .post-link{
	color: $stress-color;
	text-decoration: none;
	border-bottom: 1px solid $stress-color;
}

//individual post
.main.post h1{
	@extend .gamma;
	margin: 60px 0 40px;
}
.post-content{
	margin: 40px 0;
}
.post-content h2{
	@extend .delta;
	margin: 30px 0 10px;
}
.post-content h3{
	@extend .epsilon;
	margin: 25px 0 5px;
}

//illustrations
.post-content p > img,
.post-content p > a > img{
	float: right;
	margin: 5px 0 5px 15px;
	max-width: 50%;
}

//figures
.post-content figure{
	position: relative;
	margin-top: 15px;
	margin-bottom: 10px;
	
	&:nth-of-type(odd){
		float: left;
		text-align: right;
	}
	&:nth-of-type(even){
		float: right;
		text-align: left;
	}
	
	@include width-matches($large-desktop){
		max-width: 80%;
		$displace: 35%;
		$margin: 3%;
		
		&:nth-of-type(odd){
			left: -$displace;
			margin-right: -$displace + $margin;
		}
		&:nth-of-type(even){
			right: -$displace;
			margin-left: -$displace + $margin;
		}
	}
	@include width-matches($small-desktop){
		max-width: 60%;
		
		$displace: 30%;
		$margin: 2%;
		
		&:nth-of-type(odd){
			left: -$displace;
			margin-right: -$displace + $margin;
		}
		&:nth-of-type(even){
			right: -$displace;
			margin-left: -$displace + $margin;
		}
	}
	@include width-matches($tablet){
		max-width: 50%;
		
		$displace: 10%;
		$margin: 2%;
		
		&:nth-of-type(odd){
			left: -$displace;
			margin-right: -$displace + $margin;
		}
		&:nth-of-type(even){
			right: -$displace;
			margin-left: -$displace + $margin;
		}
	}
	@include width-matches($mobile){
		position: static;
		float: none !important;
		max-width: 80%;
		margin: 25px auto;
	}
}
.post-content figcaption{
	text-align: center;
	background: darken($background-color, 5);
	font-size: .8rem;
	padding: 5px 8px;
}

//align list properyl
.post-content ul,
.post-content ol{
	list-style-position: outside;
}
.post-content ol a,
.post-content ul a{
	text-decoration: none;
	
	&:hover{
		border-bottom: 1px solid $stress-color;
	}
}

//pull quotes
.post-content blockquote{
	@extend .delta;
	margin: 35px 0;
	position: relative;
	color: $stress-color;
	
	&:before,
	&:after {
		height: 5rem;
		opacity: .4;
		position: absolute;
		font-size: 5rem;
		font-family: Garamond;
	}
	&:before {
		content: '“';
		top:  -2.5rem;
		left: -3rem;
	}
	&:after {
		content: '”';
		bottom: -1.5rem;
		right: -1rem;
	}
}

//demos in posts
.post-content iframe{
	background: #e3e3e3;
}

//code in posts
.post-content pre{
	background: darken($background-color, 5);
	line-height: 1.1;
	margin: 15px 0;
	padding: 20px;
}
//adjusting prettyfi linenumbers
.post-content .linenums{
	counter-reset: linenums;
}
.post-content .linenums li{
	list-style-type: none;
	counter-increment: linenums;
	
	&:before{
		content: counter(linenums);
		display: table-cell;
		min-width: 30px;
		font-size: .8rem;
		color: #d8d8d8;
	}
}
.post-content .linenums code{
	display: table-cell;
}