---
layout: default
title: blog@yannick-lohse
description: My personnal blog. Tech related posts, design related articles.
---
<h1 class="normal f1 sans-serif">
	Blog
</h1>
<ul class="list pa0">
	{% for post in paginator.posts %}
	<li class="pv2">
		<h2 class="pa0 mv1 f2 lh-title sans-serif normal">
			<a href="{{ post.url }}" class="no-underline near-black">
				{{ post.title }}
			</a>
		</h2>
		<span class="f5">
			{{ post.date |  date_to_string }}
		</span>
		<div class="mv3 f5">
			{{ post.description }}
			<a href="{{ post.url }}" class="blue">
				Full article
			</a>
		</div>
	</li>
	{% endfor %}
</ul>

<nav class="">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path; }}" class="blue">
		{{ paginator.previous_page }} &lt;&lt;
	</a>
	{% endif %}
	
	<span class="">
		{{ paginator.page }} / {{ paginator.total_pages }}
	</span>
	
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path; }}" class="blue">
		&gt;&gt;{{ paginator.next_page }}
	</a>
	{% endif %}
</nav>