---
layout: default
title: blog@yannick-lohse
moreLabel:
- Read the full mounty
- More
- Read it all
- Full article
- Read more
- Full text
- Go on
- Tell me more
---
<h1 class="title">
	Blog
</h1>
<ul class="post-list">
	{% for post in paginator.posts %}
	<li class="post">
		<h2 class="post-title">
			<a href="{{ post.url }}" class="post-title-link">
				{{ post.title }}
			</a>
		</h2>
		<span class="post-date">
			{{ post.date |  date_to_string }}
		</span>
		<div class="post-description">
			{{ post.description }}
			<a href="{{ post.url }}" class="post-link">
				{{ page.moreLabel | random }}
			</a>
		</div>
	</li>
	{% endfor %}
</ul>

<nav class="pagination">
	{% if paginator.previous_page %}
	<a href="/blog/{{ paginator.previous_page_path; }}" class="previous">
		page {{ paginator.previous_page }}
	</a>
	{% endif %}
	
	<span class="page-counter">
		{{ paginator.page }} / {{ paginator.total_pages }}
	</span>
	
	{% if paginator.next_page %}
	<a href="/blog/{{ paginator.next_page_path; }}" class="next">
		page {{ paginator.next_page }}
	</a>
	{% endif %}
</nav>