{% include header.html %}
<div class="container main post" role="main">
	{% include homelink.html %}
	{% include bloglink.html %}
	<header>
		<h1>
			{{ page.title }}
		</h1>
		<span class="post-date">
			{{ page.date |  date: "%B %d, %Y" }}
		</span>
	</header>
	<div class="post-content">
		{{ content }}
	</div>
	<div class="post-footer">
		<p class="twitter">
			Thoughts or feedbacks? <a href="https://twitter.com/intent/tweet?text=@y-lohse%20&related=y-lohse&url=http://yannick-lohse.fr{{ page.url }}">You should tweet them</a>.
		</p>
</div>
{% include footer.html %}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"></script>