{% include header.html %}
<div class="w-100 mw7-l center pa3 ph5-ns" role="main">
	{% include homelink.html %}
	{% include bloglink.html %}
	<header class="mv4">
		<h1 class="sans-serif normal f1 lh-title mv1">
			{{ page.title }}
		</h1>
		<span class="f4">
			{{ page.date |  date: "%B %d, %Y" }}
		</span>
	</header>
	<div class="post-content mv3">
		{{ content }}
	</div>
	<div class="mt5">
		<p class="">
			I don't host a comment system, so maybe <a href="https://twitter.com/intent/tweet?text=@y-lohse%20&related=y-lohse&url=http://yannick-lohse.fr{{ page.url }}" class="blue">tweet them</a> or something.
		</p>
</div>
{% include footer.html %}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"></script>